#loginForm {
    border-radius: 10px 10px 10px 10px;
    padding-top: 4%;
    padding-left: 6%;
    padding-right: 6%;
    background-color: #dee2e6;
    height: 300px;
}

#login {
    margin-top: 6%;
    width: 500px;
    align-content: center;
}

#newRental {
    margin-top: 6%;
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 4%;
    width: 800px;
    height: 300px;
    align-content: center;
    background-color: #dee2e6;
    border-radius: 10px 10px 10px 10px;
}

input:invalid {
    border: 1px solid red;
}

input:focus:invalid {
    box-shadow: none;
}